
.superFancyBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

figure{
  margin-inline-start: 20px;
}

.flex{
  display:flex;
}

.fdr{
  flex-direction:row;
}

.aic {
  align-items:center;
}


.DraftEditor-root{
  position:relative;
}

.public-DraftEditorPlaceholder-root{
  position: absolute; left:0; top:0;
  color:gray;
}

span{
  font-size:24px;
  font-family:'Arial';
}